.wrapper {
  background-color: white;
  width: 100vw;
  height: 100vh;
  top: 0px;
}

.row-name {
  padding-top: calc(50vh - 70px);
  width: 100%;
  text-align: center;

  h1 {
    font-size: 70px;
  }

}

a h1{
  text-decoration: none !important;
  color: black;
}
