<style> a{text-decoration: none !important;
  color: black;} </style><div class="wrapper">
  <div class="container">
    <div class="row-name">
      <a href='<%=@athlete.wiki%>' target="blank"><h1>@ <%= @athlete.name %> @ </h1></a>
    </div>
  </div>
</div>
